@charset "ISO-8859-1";

body{
	background-color: #111111;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25%;
    padding-right: 25%;
    width: 48%;
    font-size: 110%;
    color: #d6d6d6;
}