@charset "utf-8";

body {
    background-color: #111111;
    font-size: 0.9em;
    color: #d6d6d6;
}

a:link {
color: rgb(42, 147, 218);
}

a:active {
    color: rgb(32, 98, 143);
} 

a:visited {
color: rgb(15, 64, 92);
}

/* for any device */
.grid {
    display : grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "menu"
    "content"
    "footer";
}

.emptyleft {
    grid-area: emptyleft;
    background-color: aqua;
}
.emptytop {
    grid-area: emptytop;
    background-color: aqua;
}
.emptyright {
    grid-area: emptyright;
    background-color: aqua;
}
.emptybottom {
    grid-area: emptybottom;
    background-color: aqua;
}

.header {
    grid-area: header;
    background-color: blue;
}

.menu {
    grid-area: menu;
    background-color: green;
}

.content {
    grid-area: content;
    background-color: violet;
}

.footer {
    grid-area: footer;
    background-color: tomato;
}


@media only screen and (min-width: 920px) {
    /* For desktop: */

    .grid {
        display : grid;
        grid-template-columns: 200px 1fr 700px 1fr;
        grid-template-areas:
        "header header header header"
        "menu emptyleft content emptyright"
        "footer footer footer footer";
    }
    
    .emptyleft {
        grid-area: emptyleft;
        background-color: aqua;
    }
    .emptytop {
        grid-area: emptytop;
        background-color: aqua;
    }
    .emptyright {
        grid-area: emptyright;
        background-color: aqua;
    }
    .emptybottom {
        grid-area: emptybottom;
        background-color: aqua;
    }

    .header {
        grid-area: header;
        background-color: blue;
    }
    
    .menu {
        grid-area: menu;
        background-color: green;
    }
    
    .content {
        grid-area: content;
        background-color: violet;
    }
    
    .footer {
        grid-area: footer;
        background-color: tomato;
    }
}
