@charset "utf-8";

body {
    background-color: #111111;
    font-size: 0.9em;
    color: #d6d6d6;
}

a:link {
color: rgb(42, 147, 218);
}

a:active {
    color: rgb(32, 98, 143);
} 

a:visited {
color: rgb(15, 64, 92);
}


@media only screen and (min-width: 920px) {
    /* For desktop: */

    .grid {
        display : grid;
        grid-template-columns: 1fr 900px 1fr;
        grid-template-areas:
        "emptyleft header emptyright"
        "emptyleft menu emptyright"
        "emptyleft content emptyright"
        "emptyleft footer emptyright";
    }
    
    .emptyleft {
        grid-area: emptyleft;
        background-color: aqua;
    }
    .emptytop {
        grid-area: emptytop;
        background-color: aqua;
    }
    .emptyright {
        grid-area: emptyright;
        background-color: aqua;
    }
    .emptybottom {
        grid-area: emptybottom;
        background-color: aqua;
    }

    .header {
        grid-area: header;
    }
    
    .menu {
        grid-area: menu;
    }
    
    .content {
        grid-area: content;
    }
    
    .footer {
        grid-area: footer;
    }
}
